<style type="text/css">
  .liquify_flex {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }
  .liquify_flex .liquify_item {
    flex-grow:1;
    flex-shrink: 0;
  }
  .liquify_logo {
    font-size:30px;
  }

  .liquify_body {
    font-size:15px;
  }
  .liquify_body h2 {
    font-size:1.5em;
  }
  .liquify_body h3 {
    font-size:1.2em;
  }
  .liquify_body p {
    margin-bottom:5px;
  }
  .liquify_body p.emphasis {
    font-style: italic;
  }
  .liquify_important {
    font-size:3em;
    font-weight: bold;
  }

</style>

<wrapper class="liquify_header" style="background-color: green;color:white;">
  <div class='liquify_flex' style='display:flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: flex-start;align-content: center;'>
    <h1 class='liquify_item liquify_logo' style='flex-grow:1;flex-shrink:0;font-size:30px;'>Liquify</h1>
  </div>
</wrapper>

<div class='liquify_body' style='font-size:15px;'>
  <h2 style='font-size:1.5em;'>
    Hello, <%= name %>
  </h2>
  <p style='margin-bottom:5px;'>
    Welcome to Liquify! We're glad to have you on board.
  </p>
  <p style='margin-bottom:5px;'>
    In order to verify your account creation, we have provided a six-digit <strong>Access Code</strong> below. You must copy this code and enter it into the Account Verification page that appears when you try to log into your account.
  </p>
  <h3 style='font-size:1.2em;'>Your Access Code:</h3>
  <p class="liquify_important" style='font-size:3em;font-weight: bold;'>
    <%= code %>
  </p>
  <p class='emphasis' style='margin-bottom:5px;font-style: italic;'>
    If you do not verify your account within the next two days, you will be forced to recreate your account from scratch!
  </p>
</div>