<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>User Validation - Liquify</title>
		<link rel="stylesheet" href="/stylesheets/all.css" />
	</head>
	<body>
		<h1>Validate Your Account!</h1>
		<form id="validationForm" name="validationForm" method="POST" action="/user/validate" novalidate="novalidate">
			<p>
				Hello <%= name %>. It appears that you haven't verified your account just yet. To verify your account, please type the six-digit <strong>Access Code</strong> that you should have received in your email from us.
			</p>
			<p>
				If you haven't received your <strong>Access Code</strong> yet or you wish for us to send you a new one, you may do so by clicking the button below.
			</p>
			<p id="emailResendMessage" class="formMessage formBlue hidden"></p>
			<span id="resendCode" class='button formBlue'>Resend Verification Code</span>

			<% if (error && error.length > 0) { %>
				<p id="codeError" class="formMessage formError"><%= error %></p>
			<% } else { %>
				<p id="codeError" class="formMessage formError hidden"></p>
			<% } %>
			<div class="inputContainer">
				<label for="verifyCode">Verification Code:</label>
				<input id="verifyCode" name="verifyCode" class="input" type="text" required="required" placeholder="000000">
			</div>
			<div class="inputContainer">
				<input id="submitVerification" class="submitVerification" type="submit" value="Verify Your Account">
			</div>
		</form>
		<script>
			var formEl = document.getElementById('validationForm'),
				emailBut = document.getElementById('resendCode'),
				emailEl = document.getElementById('emailResendMessage'),
				errorEl = document.getElementById('codeError'),
				codeInput = document.getElementById('verifyCode');

			function preventDefaults (e) {
				e.preventDefault();
				e.stopPropagation();
			}

			function printError (mess=null) {
				if (!mess) {
					errorEl.innerHTML = "";
					errorEl.classList.add('hidden');
				} else {
					errorEl.innerHTML = mess;
					errorEl.classList.remove('hidden');
				}
				return;
			}

			function processVerification(e) {
				var code = codeInput.value.trim();
				if (code.length == 0) {
					printError("Please input the code to verify your account.")
					preventDefaults(e);
					return false;
				}
				printError();
				return true;
			}

			function processResend() {
				var xhr = new XMLHttpRequest();
				xhr.open('post', '/user/sendVerification');
				xhr.onload = function() {
					console.log(xhr);
				}
				xhr.send();
				return false;
			}

			formEl.addEventListener('submit', processVerification);
			emailBut.addEventListener('click', processResend);
		</script>
	</body>
</html>